{% load static from staticfiles %}
<h1>Useful Phrases</h1>
<table>
  <tr>
    <th>Yes</th>
    <td>Po <em>[Po]</em></td>
  </tr>
  <tr>
    <th>No</th>
    <td>Jo <em>[Yo]</em></td>
  </tr>
  <tr>
    <th>Hello</th>
    <td>Përshëndetje <em>[Per-shen-date-yeh]</em></td>
  </tr>
  <tr>
    <th>Goodbye</th>
    <td>Tung <em>[Toong]</em></td>
  </tr>
  <tr>
    <th>Please</th>
    <td>Të lutem <em>[Te lutem]</em></td>
  </tr>
  <tr>
    <th>Thank You</th>
    <td>
      Faleminderit <em>[Fale-min-de-rit]</em>
    </td>
  </tr>
  <tr>
    <th>I don't speak Albanian</th>
    <td>Unë nuk flas Shqip.
      <em>[Un nuk flas sh-chip]</em>
    </td>
  </tr>
  <tr>
    <th>I want to go to ITP, to the german camp</th>
    <td>
      Dua të shkoj në ITP, te kampi gjerman.<br>
      Ukë Bytyçi St.
      <em>[Dua to shkoy ne ITP, te kampi German Uk. Butuchi Ruga]</em>
    </td>
  </tr>
  <tr>
    <th>Where's the toilet?</th>
    <td>Ku është tualeti?
      <em>[Ku ash-te tua-leti]</em>
    </td>
  </tr>
</table>
<h2>Emergency Contacts</h2>
<ul>
  <li><strong>Front Desk:</strong> +383 49 284 591, registration@debconf.org</li>
  <li><strong>Police:</strong>192</li>
  <li><strong>Ambulance:</strong> 194</li>
  <li><strong>Fire:</strong> 193</li>
  <li><strong>Emergencies:</strong> 112</li>
</ul>
</div>
